<style>
    .div1 {
        position: fixed;
        margin-left: 23%;
        margin-top: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div2 {
        position: fixed;
        background-color: rgb(26, 26, 26);
        width: 55%;
        height: 85vh;
        margin-left: 20%;
        margin-top: 3%;
        display: flex;
        box-shadow: 7px 7px 10px 5px black;
    }

    .sidebar {
        background-color: #1e1e1e;
        width: 60px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        position: relative; /* Sidebar is fixed to the left */
    }

    .h1 {
        font-size: 30px;
        color: aqua;
        padding: 10px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        width: 100%;
    }

    .image-section {
        background-image: url('../..//public/Anime-Girl-Hoodie-HD-Mobile-Wallpaper-950x1689.jpg');
        background-size: cover; /* Make the image cover the section */
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Push content to the bottom */
        align-items: center;
        padding: 20px;
        width: 50%;
        margin-top: -18px;
        height: 105%;
        filter: opacity(60%);
        position: relative;
        color: white;
    }

    .links {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 15%;
    }

    .resume-section {
        padding: 20px;
        width: 60%; /* Adjust width as needed */
        color: white;
        display: flex;
        flex-direction: column;
        max-height: 100%; /* Set the maximum height as per your layout */
        overflow-y: auto; /* Enables vertical scrolling */
    }

    .resume-section h1 {
        font-size: 40px;
        margin-bottom: 10px; /* Space below title */
        
    }

    .resume-section p {
        margin: 0; /* Remove default margin */
        font-size: 18px;
        padding: 0.3cm;
    }

    .icons-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center; /* This centers the icons vertically */
        align-items: center;
        flex-grow: 1; /* This makes the icons section take up the remaining space */
        margin-top: auto; /* This ensures icons move to the middle, pushing them down */
        
    }
    
    .sidebar i {
        font-size: 25px;
        color: #484747;
        padding: 10px;
        cursor: pointer;
    }

    .sidebar i:hover{
        font-size: 30px;
        color:aqua;
        background-color: #1f1f1f;
    }

    .first-part, .second-part {
        color: white;
        text-align: center;
        font-size: 70px;
        opacity: 0;
        animation: fadeInOut 20s ease-in-out forwards;
    }

    a {
        color: aqua !important;
        text-decoration: none; /* Remove underline from links */
    }
    @keyframes fadeInOut {
        0% { opacity: 0; }
        10% { opacity: 1; }
        90% { opacity: 1; }
        100% { opacity: 0; }
    }
    
    hr{
        color: rgb(0, 208, 255);
    }

    label{
        font-size: 20px;
        padding: 5px;
    }

    .service-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; /* Allows items to wrap to the next line */
        gap: 20px; /* Adds space between the items */
    }
    .service-section div {
        width: 45%; /* Sets each item to take up about half of the container width */
    }
    
    .service-section img {
        margin-bottom: 10px; /* Add space below images */
    }
    
    .service-section h4 {
        font-size: 1.2em;
        margin: 10px 0;
    }
    
    .service-section p {
        text-align: left;
        font-size: 0.9em;
        color: #a8a8a8;
    }
    

</style>

<main (scroll)="onScroll($event)" style="height: 101vh;">
    <div *ngIf="check" class="div1">
        <p *ngIf="!showSecondPart" class="first-part">Hello, my name is Chayma Amor</p>
        <p *ngIf="showSecondPart" class="second-part"><span>I am a <a>Fullstack Web Developer.</a></span></p>
    </div>

    <div *ngIf="!check" class="div2">
        <!-- Sidebar Section -->
        <div class="sidebar">
            <div class="h1">
                <a routerLink="/"><b>CA</b></a>
            </div>
            <div class="icons-wrapper">
                <a routerLink="/"><i class="bi bi-house"></i></a>
                <a routerLink="/resum"><i class="bi bi-bag"></i></a>
                <a routerLink="/competence"><i class="bi bi-person"></i></a>

            </div>
        </div>

        <!-- Main Content Section -->
        <div class="content">
            <!-- Image Section with Background -->
            <div class="image-section">
                <div class="links">                    
                    <a href="https://github.com/mikasa-akr">
                        <img src="../..//public/github.png" style="height: 5vh;" alt="GitHub">
                    </a>  
                    <a href="https://www.linkedin.com/in/shayma-ben-amor-0a580529b/">
                        <img src="../..//public/linkedin.png" style="height: 5vh;margin-left:40%" alt="LinkedIn">
                    </a>  
                </div>
            </div>

            <!-- Resume Section (Text Section) -->
            <div class="resume-section">
                <div *ngIf="isRootPath">
                <h1>About me</h1>
                <hr>
                <p>I am currently a graduate student with a degree in Multimedia and Web Development from the Higher Institute of Technological Studies of Sousse. My academic journey and experiences have allowed me to gain solid skills in the fields of web development and multimedia.</p>
                <hr>
                <h2>My Services</h2>
                <div class="service-section">
                    <div>
                        <img src="../..//public/developpement.png" style="height: 4vh;" alt="developement">
                       <h4>Development</h4>
                       <p>Experienced in designing, coding, and implementing web applications with a focus on both front-end and back-end technologies.</p> 
                    </div>
                    <div>
                        <img src="../..//public/infographie.png" style="height: 4vh;" alt="infographiste">
                        <h4>infographiste</h4>
                        <p>Creative professional with expertise in graphic design, specializing in creating visually engaging content for various digital platforms.</p>
                    </div>
                    <div>
                        <img src="../..//public/uiux.png" style="height: 4vh;" alt="uiux">
                       <h4>UI/UX</h4> 
                       <p>Passionate about crafting user-centered interfaces and experiences that prioritize usability and aesthetics.</p>
                    </div>
                </div>
               <hr>
            </div>
               <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</main>



